<form class="mt-1">
	<div class="form-group">
		<label for="players">球员名称</label>
		<ng-select [items]="players"
		bindLabel="name"
		bindValue="id"
		[multiple]="true"
		[closeOnSelect]="true"
		[hideSelected]="true"
		[(ngModel)]="selectedPlayers" 
		[typeahead]="name"
		name="players">
	</ng-select>
</div>

<div class="form-group">
	<label for="team">球队</label>
	<ng-select [items]="teams"
	bindLabel="name"
	bindValue="id"
	class="form-control-lg"
	[multiple]="false"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedTeam" 
	[typeahead]="name"
	name="team">
</ng-select>
</div>

<div class="form-group">
	<label for="players">赛季</label>
	<ng-select [items]="seasons"
	bindLabel="name"
	bindValue="id"
	[multiple]="true"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedSeasons" 
	[typeahead]="name"
	name="seasons">
</ng-select>
</div>

<div class="form-group">
	<label for="team">款式</label>
	<ng-select [items]="editions"
	bindLabel="name"
	bindValue="id"
	[multiple]="false"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedEdition" 
	[typeahead]="name"
	name="edition">
</ng-select>
</div>

<div class="form-group">
	<label for="team">等级</label>
	<ng-select [items]="levels"
	bindLabel="name"
	bindValue="id"
	[multiple]="false"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedLevel" 
	[typeahead]="name"
	name="level">
</ng-select>
</div>

<div class="form-group">
	<label for="players">尺码</label>
	<ng-select [items]="sizes"
	bindLabel="name"
	bindValue="id"
	[multiple]="true"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedSizes" 
	[typeahead]="name"
	name="sizes">
</ng-select>
</div>

<div class="form-group">
	<label for="players">物品</label>
	<ng-select [items]="items"
	bindLabel="name"
	bindValue="id"
	[multiple]="true"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedItems" 
	[typeahead]="name"
	name="items">
</ng-select>
</div>

<div class="form-group">
	<label for="players">证书</label>
	<ng-select [items]="loas"
	bindLabel="name"
	bindValue="id"
	[multiple]="true"
	[closeOnSelect]="true"
	[hideSelected]="true"
	[(ngModel)]="selectedLoas" 
	[typeahead]="name"
	name="loas">
</ng-select>
</div>

<div class="form-group">
	<label for="price">特别注明（例如：Tipoff、里程碑、媒体日等特殊事件）</label>
	<input type="text" class="form-control" id="note" name="note" [(ngModel)]="note">
</div>

<div class="form-group">
	<label for="price">是否出售</label>
	<div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="forSale" value="true" [(ngModel)]="selectedForSale">
			<label class="form-check-label" for="forSale">出售</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="forSale" value="false" [(ngModel)]="selectedForSale">
			<label class="form-check-label" for="forSale">不出售，仅收藏展示</label>
		</div>
	</div>
</div>


<div class="form-group" *ngIf="selectedForSale == 'true'">
	<label for="price">选择出售方式</label>
	<div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tradeMethod" value="platform" [(ngModel)]="selectedTradeMethod">
			<label class="form-check-label" for="tradeMethod">支持平台担保交易</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tradeMethod" value="private" [(ngModel)]="selectedTradeMethod">
			<label class="form-check-label" for="tradeMethod">支持私下交易</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="tradeMethod" value="both" [(ngModel)]="selectedTradeMethod">
			<label class="form-check-label" for="tradeMethod">两者都支持</label>
		</div>
	</div>
</div>

<div class="form-group" *ngIf="selectedForSale == 'true'">
	<label for="price">接受报价方式</label>
	<div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="quotedMethod" value="fixed" [(ngModel)]="selectedQuotedMethod">
			<label class="form-check-label" for="quotedMethod">一口价</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="quotedMethod" value="quoted" [(ngModel)]="selectedQuotedMethod">
			<label class="form-check-label" for="quotedMethod">仅接受报价</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="quotedMethod" value="both" [(ngModel)]="selectedQuotedMethod">
			<label class="form-check-label" for="quotedMethod">两者都支持</label>
		</div>
	</div>
</div>

<div class="form-group" *ngIf="selectedForSale == 'true' && selectedQuotedMethod == 'fixed' || selectedQuotedMethod == 'both'">
	<label for="price">价格</label>
	<input type="number" class="form-control" id="price" name="price" [(ngModel)]="price">
</div>

<div class="form-group">
	<label for="description">描述 *</label>
	<textarea class="form-control" name="description" [(ngModel)]="description" rows="3"></textarea>
</div>

<div class="form-group">
	<label for="description">上传图片（jpg / jpeg / png）单张图片尺寸限制：1000kb *</label>
	<!-- <dropzone [config]="config" [message]="'选择或拖动图片上传'" (success)="onUploadSuccess($event)" (removedFile)="onRemovedFile($event)" name="images" type="file"></dropzone> -->
	<div class="dropzone text-primary" [dropzone]="config"  (success)="onUploadSuccess($event)" (removedFile)="onRemovedFile($event)"></div>

</div>

<button class="btn btn-primary" (click)="addProduct()">Submit</button>
</form>