<div class="container">
	<div class="row justify-content-center">
		<div class="col-10">
			<h1 class="mb-3">修改产品</h1>
			<!-- <p>{{ editForm.value | json }}</p> -->
			<div class="card-body media" *ngIf="product">
				<span *ngIf="product.front_image">
					<img src="{{ product.front_image.thumbnail_path }}" alt="..." class="img-thumbnail align-self-start mr-3">
				</span>
				<span *ngIf="product.front_image == null">
					<img src="http://via.placeholder.com/100x100" alt="..." class="img-thumbnail align-self-start mr-3">
				</span>
				<div class="media-body">
					<p *ngIf="product.status == 'pending'" class="badge badge-danger">审核中</p>
					<h6>
						<span *ngFor="let player of product.players">{{player.name}} </span>
						<span>{{product.team.name}} </span>
						<span *ngFor="let season of product.seasons">{{season.name}} </span>
						<span>{{product.edition.name}} </span>
						<span>{{product.level.name}} </span>
						<span *ngFor="let size of product.sizes">{{size.name}} </span>
						<span *ngFor="let item of product.items">{{item.name}} </span>
						<span *ngFor="let loa of product.loas">{{loa.name}} </span>
					</h6>
					<p>
						{{ product.price | currency:'¥ '}} 
					</p>
					<p>
						<span *ngIf="product.forSale == 'true'" class="badge badge-danger">出售中</span>
						<span *ngIf="product.forSale == 'sold'" class="badge badge-danger">已售出</span>
						<span *ngIf="product.forSale == 'false'" class="badge badge-danger">收藏展示</span>
						<span *ngIf="product.tradeMethod == 'platform' || product.tradeMethod == 'both'" class="badge badge-warning">支持平台担保交易</span>
						<span *ngIf="product.tradeMethod == 'private' || product.tradeMethod == 'both'" class="badge badge-warning">支持私下交易</span>
						<span *ngIf="product.quotedMethod == 'fixed' || product.quotedMethod == 'both'" class="badge badge-info">接受一口价</span>
						<span *ngIf="product.quotedMethod == 'quoted' || product.quotedMethod == 'both'" class="badge badge-info">接受报价</span>
					</p>
				</div>
			</div>
			<form [formGroup]="editForm">
				<!-- <div class="form-group mb-3">
					<label class="h3" for="team">球队（必填）</label>
					<ng-select [items]="teams"
					bindLabel="name"
					bindValue="id"
					[multiple]="false"
					[closeOnSelect]="true"
					[hideSelected]="true"
					[virtualScroll]="true"
					[searchFn]="customSearchTeams"
					
					formControlName="team"

					name="team">
				</ng-select>
			</div> -->
			<div class="form-group">
				<label class="h3" for="price">是否出售</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="forSale" value="true" [formControl]="editForm.controls['forSale']" (change)="handleforSaleChange($event)">
					<label class="form-check-label" for="forSale" class="h3">出售</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="forSale" value="sold" [formControl]="editForm.controls['forSale']" (change)="handleforSaleChange($event)">
					<label class="form-check-label" for="forSale" class="h3">已售出</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="forSale" value="false" [formControl]="editForm.controls['forSale']" (change)="handleforSaleChange($event)">
					<label class="form-check-label" for="forSale" class="h3">不出售，仅收藏展示</label>
				</div>
			</div>

			<div *ngIf="editForm.controls['forSale'].value == 'true'">
				<div class="form-group" >
					<label class="h3" for="price">选择出售方式</label>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="tradeMethod" value="platform" [formControl]="editForm.controls['tradeMethod']">
						<label class="h3 form-check-label" for="tradeMethod">支持平台担保交易</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="tradeMethod" value="private" [formControl]="editForm.controls['tradeMethod']">
						<label class="h3 form-check-label" for="tradeMethod">支持私下交易</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="tradeMethod" value="both" [formControl]="editForm.controls['tradeMethod']">
						<label class="h3 form-check-label" for="tradeMethod">两者都支持</label>
					</div>
				</div>

				<div class="form-group">
					<label class="h5" for="price">接受报价方式</label>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="quotedMethod" value="fixed" [formControl]="editForm.controls['quotedMethod']">
						<label class="h3 form-check-label" for="quotedMethod">一口价</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="quotedMethod" value="quoted" [formControl]="editForm.controls['quotedMethod']" (change)="handleQuoteMethodChange($event)">
						<label class="h3 form-check-label" for="quotedMethod" >仅接受报价</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="quotedMethod" value="both" [formControl]="editForm.controls['quotedMethod']">
						<label class="h3 form-check-label" for="quotedMethod">两者都支持</label>
					</div>
				</div>

				<div class="form-group" *ngIf="editForm.controls['quotedMethod'].value == 'fixed' || editForm.controls['quotedMethod'].value == 'both'">
					<label class="h5 text-muted" for="price">价格</label>
					<input type="text" class="h3 form-control" [formControl]="editForm.controls['price']"  name="price">
				</div>
			</div>
			<button type="button" class="btn btn-danger btn-lg float-right" (click)="onSubmit()">完成修改</button>
		</form>
	</div>
</div>
</div>