<div class="container mt-3" *ngIf="product$ | async as product">
	<h1>向朋友秀一下您的收藏</h1>
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<div class="form-group">
				<div class="dropzone text-center" [dropzone]="singleConfig" (success)="onFrontUploadSuccess($event)" (removedFile)="onFrontRemovedFile($event)">
					<div class="dz-preview dz-file-preview">
					</div>
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>正面</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="form-group">
				<div class="dropzone text-primary text-center" [dropzone]="singleConfig"  (success)="onBackUploadSuccess($event)" (removedFile)="onBackRemovedFile($event)">
					<div class="dz-preview dz-file-preview">
					</div>
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>反面</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-danger btn-lg float-right" (click)="uploadProductImages()" [disabled]="!isValid() || isLoading">
		<span *ngIf="isValid">下一步</span>
		<span *ngIf="isLoading">
			<i class="fas fa-spinner fa-spin"></i>
		</span>
	</button>

</div>
