<div class="progress" *ngIf="step == 1">
	<div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress" *ngIf="step == 2">
	<div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress" *ngIf="step == 3">
	<div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-5">
			<h1 class="mb-3">你要上传什么样的产品？</h1>
			<form [formGroup]="uploadForm">

				<div *ngIf="step == 1">
					<div class="form-group mb-3">
						<label class="h3" for="items">物品</label>
						<ng-select [items]="items"
						bindLabel="name"
						bindValue="id"
						[multiple]="true"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['items']"
						name="items"></ng-select>	
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="players">球员</label>
						<ng-select [items]="playersBuffer"
						bindLabel="name"
						bindValue="id"
						[multiple]="true"
						[loading]="loading"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[virtualScroll]="true"
						[searchFn]="customSearchFn"
						(scrollToEnd)="fetchMore($event)">
						formControlName = "players"
						name="players"></ng-select>
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="team">球队</label>
						<ng-select [items]="teams"
						bindLabel="name"
						bindValue="id"
						[multiple]="false"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						formControlName="team"
						name="team"></ng-select>
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="seasons">赛季</label>
						<ng-select [items]="seasons"
						bindLabel="name"
						bindValue="id"
						[multiple]="true"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['seasons']"
						name="seasons"></ng-select>
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="edition">款式</label>
						<ng-select [items]="editions"
						bindLabel="name"
						bindValue="id"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['edition']"
						name="edition"></ng-select>
					</div>

					<button type="button" class="btn btn-danger btn-lg float-right" (click)="changeStep(2)">下一步</button>
				</div>

				<div *ngIf="step == 2">
					<div class="form-group mb-3">
						<label class="h3" for="items">等级</label>
						<ng-select [items]="levels"
						bindLabel="name"
						bindValue="id"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['level']"
						name="level"></ng-select>	
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="items">尺寸</label>
						<ng-select [items]="sizes"
						bindLabel="name"
						bindValue="id"
						[multiple]="true"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['sizes']"
						name="sizes"></ng-select>	
					</div>

					<div class="form-group mb-3">
						<label class="h3" for="items">证书</label>
						<ng-select [items]="loas"
						bindLabel="name"
						bindValue="id"
						[multiple]="true"
						[closeOnSelect]="true"
						[hideSelected]="true"
						[typeahead]="name"
						[formControl]="uploadForm.controls['loas']"
						name="loas"></ng-select>	
					</div>

					<div class="form-group">
						<label class="h3" for="note">特别注明</label>
						<input type="text" class="form-control" placeholder="例如：Tipoff、里程碑、媒体日等特殊事件" [formControl]="uploadForm.controls['note']"  name="note">
					</div>

					<div class="form-group">
						<label class="h3" for="description">描述</label>
						<textarea class="form-control" name="description" [formControl]="uploadForm.controls['description']" rows="3"></textarea>
					</div>

					<button type="button" class="btn btn-link btn-lg float-left" (click)="changeStep(1)">上一步</button>
					<button type="button" class="btn btn-danger btn-lg float-right" (click)="changeStep(3)">下一步</button>
				</div>

				<div *ngIf="step == 3">
					<div class="form-group">
						<label class="h3" for="price">是否出售</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="forSale" value="true" [formControl]="uploadForm.controls['forSale']" (change)="handleforSaleChange($event)">
							<label class="form-check-label" for="forSale" class="h3">出售</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="forSale" value="false" [formControl]="uploadForm.controls['forSale']" (change)="handleforSaleChange($event)">
							<label class="form-check-label" for="forSale" class="h3">不出售，仅收藏展示</label>
						</div>
					</div>

					<div *ngIf="uploadForm.controls['forSale'].value == 'true'">
						<div class="form-group" >
							<label class="h3" for="price">选择出售方式</label>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tradeMethod" value="platform" [formControl]="uploadForm.controls['tradeMethod']">
								<label class="h3 form-check-label" for="tradeMethod">支持平台担保交易</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tradeMethod" value="private" [formControl]="uploadForm.controls['tradeMethod']">
								<label class="h3 form-check-label" for="tradeMethod">支持私下交易</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="tradeMethod" value="both" [formControl]="uploadForm.controls['tradeMethod']">
								<label class="h3 form-check-label" for="tradeMethod">两者都支持</label>
							</div>
						</div>

						<div class="form-group">
							<label class="h5" for="price">接受报价方式</label>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="quotedMethod" value="fixed" [formControl]="uploadForm.controls['quoteMethod']">
								<label class="h3 form-check-label" for="quotedMethod">一口价</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="quotedMethod" value="quoted" [formControl]="uploadForm.controls['quoteMethod']" (change)="handleQuoteMethodChange($event)">
								<label class="h3 form-check-label" for="quotedMethod" >仅接受报价</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="quotedMethod" value="both" [formControl]="uploadForm.controls['quoteMethod']">
								<label class="h3 form-check-label" for="quotedMethod">两者都支持</label>
							</div>
						</div>

						<div class="form-group" *ngIf="uploadForm.controls['quoteMethod'].value == 'fixed' || uploadForm.controls['quoteMethod'].value == 'both'">
							<label class="h5 text-muted" for="price">价格</label>
							<input type="text" class="h3 form-control" [formControl]="uploadForm.controls['price']"  name="price">
						</div>
					</div>

					<button type="button" class="btn btn-link btn-lg float-left" (click)="changeStep(2)">上一步</button>
					<button type="button" class="btn btn-danger btn-lg float-right" (click)="onSubmit()">完成</button>
				</div>
			</form>
		</div>
		<div class="col-5">
			<p>Form value: {{ uploadForm.value | json }}</p>
		</div>
	</div>
</div>