<div class="container" *ngIf="product">
	<h1 class="mb-3">
		上传产品图片
		<a href="" class="btn btn-link" routerLink="/dashboard">还没给产品拍照，稍后再上传</a>
	</h1>
	<div class="row justify-content-center">
		<!-- <p>{{ product | json }}</p> -->
		<!-- 上传正面照片 -->
		<div class="col-8 text-center mb-5">
			<div class="form-group">
				<h2 class="mb-3">正面照片（1张）</h2>
				<figure class="figure" *ngIf="product.front_image">
					<img class="img-thumbnail" [src]="product.front_image.thumbnail_path" />
					<figcaption class="figure-caption text-center">
						<button class="btn btn-outline-danger mt-2" (click)="deleteFrontImage()" [disabled]="isFrontDeleting">
							<span *ngIf="!isFrontDeleting">删除图片</span>
							<span *ngIf="isFrontDeleting">删除中</span>
							<span *ngIf="isFrontDeleting">
								<i class="fas fa-spinner fa-spin"></i>
							</span>
						</button>
					</figcaption>
				</figure>
				<div *ngIf="!product.front_image" class="dropzone text-center" [dropzone]="frontConfig" (success)="getProduct($event)">
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg">点击上传<strong>正面</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 上传反面照片 -->
		<div class="col-8 text-center mb-5">
			<div class="form-group">
				<h2 class="mb-3">反面图片（1张）</h2>
				<figure class="figure" *ngIf="product.back_image">
					<img class="img-thumbnail" [src]="product.back_image.thumbnail_path" />
					<figcaption class="figure-caption text-center">
						<button class="btn btn-outline-danger mt-2" (click)="deleteBackImage()" [disabled]="isBackDeleting">
							<span *ngIf="!isBackDeleting">删除图片</span>
							<span *ngIf="isBackDeleting">删除中</span>
							<span *ngIf="isBackDeleting">
								<i class="fas fa-spinner fa-spin"></i>
							</span>
						</button>
					</figcaption>
				</figure>
				<div *ngIf="!product.back_image" class="dropzone text-center" [dropzone]="backConfig" (success)="getProduct($event)">
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>反面</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 上传其他照片 -->
		<div class="col-8 text-center mb-5">
			<div class="form-group">
				<h2 class="mb-3">
					其他图片（选填）
					<small class="h6">（还可传{{ otherConfig.maxFiles }}张）</small>
				</h2>
				<figure class="figure" *ngIf="product.other_images.length">
					<ul class="list-inline">
						<li class="list-inline-item mb-2" *ngFor="let other_image of product.other_images">
							<img class="img-thumbnail" [src]="other_image.thumbnail_path" />
							<figcaption class="figure-caption text-center">
								<button class="btn btn-outline-danger mt-2" (click)="deleteOtherImage(other_image.name)" [disabled]="deletingOther == other_image.name">
									<span *ngIf="deletingOther != other_image.name">删除图片</span>
									<span *ngIf="deletingOther == other_image.name">删除中</span>
									<span *ngIf="deletingOther == other_image.name">
										<i class="fas fa-spinner fa-spin"></i>
									</span>
								</button>
							</figcaption>
						</li>
					</ul>
				</figure>
				<div *ngIf="product.other_images.length < otherMaxFiles" class="dropzone text-center" [dropzone]="otherConfig" (queueComplete)="getProduct()">
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>其他</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 上传匹配照片 -->
		<div class="col-8 text-center mb-5" *ngIf="showLevel">
			<div class="form-group">
				<h2 class="mb-3">
					图片匹配
					<small class="h6">（可传{{ levelConfig.maxFiles }}张）</small>
				</h2>
				<figure class="figure" *ngIf="product.level_images.length">
					<ul class="list-inline">
						<li class="list-inline-item mb-2" *ngFor="let level_image of product.level_images">
							<img class="img-thumbnail" [src]="level_image.thumbnail_path" />
							<figcaption class="figure-caption text-center">
								<button class="btn btn-outline-danger mt-2" (click)="deleteLevelImage(level_image.name)" [disabled]="deletingLevel == level_image.name">
									<span *ngIf="deletingLevel != level_image.name">删除图片</span>
									<span *ngIf="deletingLevel == level_image.name">删除中</span>
									<span *ngIf="deletingLevel == level_image.name">
										<i class="fas fa-spinner fa-spin"></i>
									</span>
								</button>
							</figcaption>
						</li>
					</ul>
				</figure>
				<div *ngIf="product.level_images.length < levelMaxFiles" class="dropzone text-center" [dropzone]="levelConfig" (queueComplete)="getProduct()">
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>图片匹配</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 上传证书照片 -->
		<div class="col-8 text-center mb-5" *ngIf="showLoa">
			<div class="form-group">
				<h2 class="mb-3">
					证书图片
					<small class="h6">（还可传{{ loaConfig.maxFiles }}张）</small>
				</h2>
				<figure class="figure" *ngIf="product.loa_images.length">
					<ul class="list-inline">
						<li class="list-inline-item mb-2" *ngFor="let loa_image of product.loa_images">
							<img class="img-thumbnail" [src]="loa_image.thumbnail_path" />
							<figcaption class="figure-caption text-center">
								<button class="btn btn-outline-danger mt-2" (click)="deleteLoaImage(loa_image.name)" [disabled]="deletingLoa == loa_image.name">
									<span *ngIf="deletingLoa != loa_image.name">删除图片</span>
									<span *ngIf="deletingLoa == loa_image.name">删除中</span>
									<span *ngIf="deletingLoa == loa_image.name">
										<i class="fas fa-spinner fa-spin"></i>
									</span>
								</button>
							</figcaption>
						</li>
					</ul>
				</figure>
				<div *ngIf="product.loa_images.length < loaMaxFiles" class="dropzone text-center" [dropzone]="loaConfig" (queueComplete)="getProduct()">
					<div class="dz-message" data-dz-message>
						<button type="button" class="btn btn-danger btn-lg ">点击上传<strong>证书匹配</strong>照片</button>
						<div class="mt-3">或者把图片拖进框内</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-8">
			<div class="float-left">
				<button type="button" class="btn btn-outline-danger btn-lg float-left" routerLink="/dashboard" [disabled]="">稍后再说</button>
			</div>
			<div class="float-right">
				<button type="button" class="btn btn-danger btn-lg" routerLink="/dashboard">完成</button>
			</div>
		</div>
	</div>
</div>